<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>

<div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png" />
  <span> Olá, {{name}}</span>

  <br />

  <span>Você solicitou a alteração de senha</span>
  <span>Para concluir a alteração, clique no link
    <a href="{{link}}">{{link}}</a>
  </span>

  <span>
    <p>Caso não tenha solicitado a alteração, por favor ignore a mensagem.</p>
  </span>

  <strong> Obrigado Pela atenção </strong>

  <h3>Equipe | <strong>Rental Club</strong></h3>
</div>